<h1>ADMIN</h1>

    <textarea name="" id="message" cols="30" rows="10" ></textarea>
    <input type="submit" value="send" id="send">
<script>
    var socket = io('/admin');

document.getElementById("send").addEventListener("click",()=>{
  let text= document.getElementById('message').value;

  socket.emit("message",text);
})
</script>