<h1>USER</h1>
<div class="card">
    <span id="board"></span>
</div>

<script >

    var socket = io();

    socket.on("broadcast",(msg)=>{
    document.getElementById('board').innerHTML=msg;
})
</script>